<div class="row">
    <div class="col">

        <button type="submit" class="btn btn-primary form-control">Crear</button>
        &nbsp;
       
    </div>
    <div class="col">

        <a asp-action="Index" class="btn btn-success form-control">Volver a Lista</a>

    </div>
   



</div>